{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="descarga.png">
      <img src="/images/descarga.png">
    </a>
    <h1>WEB HEROKU PCA</h1>
    <p>WEB Heroku PCA, es una app diseñada para que se conecte a un actuador el cual estará enlazado con unos sensores de temperatura, humedad, y algunos sensores de humo, con el fin de detectar que zonas de la ciudad tienden a ser mas propensas a la contaminación por la emisión de gases como el Monoxido de Carbono (CO), el dioxido de carbono (CO2), compuestos de plomo, oxidos nitrosos entre otros, debido al exceso de vehículos que utilizan gasolina.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.youtube.com/watch?v=gleHFiWdKh8&t=183s"><span class="glyphicon glyphicon-flash"></span> Video</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://apkpure.com/es/canva-design-photo-video/com.canva.editor/download?from=details"><span class="glyphicon glyphicon-download"></span> Descargar</a>
  </div>
</div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Mision</h3>
      <ul>
        <li>Reducir la contaminacion hambiental causada por las emisiones que generan los automoviles a gasolina fosil</li>

        <li>Generar conciencia a las personas sobre el efecto invernadero</li>
        
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Vision</h3>
      <ul>
        <li>Aumentar el uso y distribucion de vehiculos que utilicen energias renovables</li>
        <li>Impulsar una ciudad con pmenos contaminacion</li>

        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Integrantes</h3>
      <ul>
        <li>Jafeth Perez</li>
        <li>Nicolas Gomez</li>
        <li>Jeyson mercado</li>
        <li>Halan Salcedo</li>
      </ul>
    </div>
  </div> <!-- row -->

</div>

{% endblock %}
