<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.canva.com/design/DAE54W2fZoU/x9sH-SRQtKj68Yy1CoCAzg/edit"><span class="glyphicon glyphicon-user"></span> Bosquejo</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://accounts.google.com/signin/v2/identifier?hl=es&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgoogle%2Bearth%26oq%3Dgoogle%26aqs%3Dchrome.4.69i57j46i131i199i433i465i512j0i131i433i512l2j0i433i512j69i60l3.5715j0j7%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAlAAQ&flowName=GlifWebSignIn&flowEntry=AddSession"><span class="glyphicon glyphicon-book"></span> Cuenta</a>
      </li>
    </ul>
  </div>
</nav>
